name: CI
on: [push, pull_request]
env:
  go-version: "1.25.x"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: golang:1.25-trixie

    services:
      valkey:
        image: valkey/valkey:8.0-alpine
        ports:
          - 6379:6379
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_PASSWORD: temba
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elastic:
        image: elasticsearch:8.13.4
        ports:
          - 9200:9200
        env:
          discovery.type: single-node
          xpack.security.enabled: false
        options: --health-cmd "curl http://localhost:9200/_cluster/health" --health-interval 10s --health-timeout 5s --health-retries 5
      localstack:
        image: localstack/localstack:latest
        env:
          SERVICES: s3,dynamodb,cloudwatch
        ports:
          - 4566:4566

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Postgres Client
        run: |
          apt-get update
          apt-get install -y wget gnupg2 lsb-release
          echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | tee /etc/apt/trusted.gpg.d/postgresql.asc > /dev/null
          apt-get update
          apt-get install -y --no-install-recommends postgresql-client-17

      - name: Initialize database
        # we create our test database with a different user so that we can drop everything owned by this user between tests
        run: |
          export PGPASSWORD=temba
          psql -h postgres -U postgres --no-password -c "CREATE USER mailroom_test PASSWORD 'temba';"
          psql -h postgres -U postgres --no-password -c "ALTER ROLE mailroom_test WITH SUPERUSER;"
          psql -h postgres -U postgres --no-password -c "CREATE DATABASE mailroom_test;"

      - name: Run tests
        run: |
          go test -p=1 -coverprofile=coverage.text -covermode=atomic ./...

      - name: Upload coverage
        if: success()
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  release:
    name: Release
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch GoFlow docs
        # for backward compatibility, English docs are copied to root of docs directory
        run: |
          GOFLOW_VERSION=$(grep goflow go.mod | cut -d" " -f2 | cut -c2-)
          curl -L https://github.com/nyaruka/goflow/releases/download/v${GOFLOW_VERSION}/docs.tar.gz | tar zxv
          cp ./docs/en-us/*.* docs/

      - name: Publish release
        uses: goreleaser/goreleaser-action@v6
        if: ${{ !contains(github.ref, '-') }}
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish non-master release
        uses: goreleaser/goreleaser-action@v6
        if: contains(github.ref, '-')
        with:
          args: release --clean --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
